<section class="bg-white">
  <div
    class="items-center w-full px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl"
  >
    <div>
      <p class="mt-8 text-6xl font-medium text-black">
        Lexington Themes uses The Inter typeface family
        <br /><br />
         ABCDEFGHIJKLMN OPQRSTUVWXYZ abcdefghijklm nopqrstuvwxyz 0123456789 &→!
      </p>
    </div>
  </div>
</section>
