---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const sortedTags = tags.sort((a, b) => a.localeCompare(b)); // Sort tags alphabetically

const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <div class="py-24">
      <h1
        class="text-4xl text-balance font-medium font-display text-base-900 max-w-xl"
      >
        All tags
      </h1>
      <div class="flex flex-wrap gap-3 mt-8">
        {
          sortedTags.map((tag) => (
            <a
              class=" hover:text-blue-500 text-xs font-medium text-base-600"
              href={`/tags/${tag}`}
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
