<main aria-labelledby="Terms" id="Terms" class="relative overflow-hidden">
  <div class="px-8 md:px-12 max-w-6xl mx-auto py-24 2xl:max-w-7xl">
    <div class="text-center max-w-xl mx-auto">
      <p class="text-4xl font-display font-semibold tracking-tight text-black">
        Privacy
      </p>
      <p class="mt-4 text-lg tracking-tight text-gray-600">
        Last updated on January 01, 2023
      </p>
    </div>

    <div
      class="prose max-w-3xl py-24 mx-auto prose-slate font-serif prose-headings:font-sans first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 first-letter:mr-3 first-letter:float-left prose-blockquote:border-l-salmon-500 prose-headings:text-black prose-li:marker:text-salmon-500">
       <h1>
                California Resident Notice at Collection
              </h1>
              <p>
                If you are a California resident, the California Consumer Privacy Act,
                as amended by the California Privacy Rights Act of 2020 (“<strong>CCPA</strong>”), requires us to provide some additional information to California
                residents. This Section only applies to you if you are a California
                resident, although please note that this information and the rights
                afforded herein are the same as offered to our other users in our main
                Privacy Policy. This Section does not apply to personal information we
                collect from our employees and job applicants in their capacity as
                employees and job applicants, as such information practices are
                described in separate policies.
              </p>
              <p>The following chart details these activities:</p>
              <table class="hidden lg:block">
                <thead>
                  <tr>
                    <th><strong>Category of personal information</strong></th>
                    <th><strong>Purposes of use</strong></th>
                    <th><strong>Categories of Third Parties Information</strong></th>
                    <th><strong>Categories of Third Parties</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Contact information (such as your full name, phone number, email
                      address)</td>
                    <td>Provide the Services; Communicate with you; Analyze use of and
                      improve the services; With your consent; Comply with law or defend
                      our legal rights; Security/fraud prevention</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes</td>
                    <td>We do not share/sell</td>
                  </tr>
                  <tr>
                    <td>Customer service interaction information (including optional
                      surveys and when you ask for help)</td>
                    <td>Provide the Services; Communicate with you; Analyze use of and
                      improve the services; With your consent; Comply with law or defend
                      our legal rights; Security/fraud prevention</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes</td>
                    <td>We do not share/sell</td>
                  </tr>
                  <tr>
                    <td>Product interaction information</td>
                    <td>Provide the Services; Communicate with you; Analyze use of and
                      improve the services; With your consent; Comply with law or defend
                      our legal rights; Security/fraud prevention</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes</td>
                    <td>We do not share/sell</td>
                  </tr>
                  <tr>
                    <td>Internet network and device information (such as mobile device
                      information, IP address, and information about your interaction
                      with the services)</td>
                    <td>Provide the Services; Analyze use of and improve the services;
                      With your consent; Comply with law or defend our legal rights;
                      Security/fraud prevention</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes;</td>
                    <td>We do not share/sell</td>
                  </tr>
                  <tr>
                    <td>Login information (such as your username and password)</td>
                    <td>Provide the Services; Comply with law or defend our legal rights;
                      Security/fraud prevention; Comply with law or defend our legal
                      rights</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes</td>
                    <td>We do not share/sell</td>
                  </tr>
                  <tr>
                    <td>Professional or employment information (such as the name and
                      address of the company you work for and your title)</td>
                    <td>Provide the Services; Communicate with you; Analyze use of and
                      improve the services; With your consent; Comply with law or defend
                      our legal rights; Security/fraud prevention</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes;</td>
                    <td>We do not share/sell</td>
                  </tr>
                  <tr>
                    <td>Other information (any other information you choose to provide
                      directly to us, including optional profile photos)</td>
                    <td>Provide the Services; Communicate with you; Analyze use of and
                      improve the services; With your consent; Comply with law or defend
                      our legal rights; Security/fraud prevention</td>
                    <td>Affiliated entities; Service providers; Entities for legal
                      purposes;</td>
                    <td>We do not sell/share</td>
                  </tr>
                </tbody>
              </table>
              <p>
                For more information about each category of personal information,
                purpose of use, and third parties to which we disclose personal
                information, please see the &quot;What we collect and why,&quot; and
                &quot;When we access or disclose you information&quot; sections of our
                Privacy Policy.
              </p>
              <p>
                <strong>Your Choices Regarding “Sharing” and “Selling”</strong>: You
                have the right to opt out of our sale/sharing of your personal
                information for purposes of online analytics and advertising. Currently,
                we do not sell or share your data as defined by the CCPA and we have not
                done so over the past 12 months from the effective date of this Privacy
                Policy.
              </p>
              <p>
                <strong>Other CCPA Rights.</strong> If we ever offer any financial incentives
                in exchange for your personal information, we will provide you with appropriate
                information about such incentives.
              </p>
              <p>
                The CCPA also allows you to limit the use or disclosure of your
                “sensitive personal information” (as defined in the CCPA) if your
                sensitive personal information is used for certain purposes. Please note
                that we do not use or disclose sensitive personal information other than
                for business purposes for which you cannot opt out under the CCPA.
              </p>
              <p>
                Please see the “Your rights with respect to your information” section of
                our Policy above for information about the additional rights you have
                with respect to your personal information under California law and how
                to exercise them.
              </p>
              <p>
                Retention of Your Personal Information. Please see the “Retention Of
                Your Information” section belowof our Privacy Policy for more
                information.
              </p>
              <h2>Shine the Light Disclosure</h2>
              <p>
                The California &quot;Shine the Light&quot; law gives residents of
                California the right under certain circumstances to request information
                from us regarding the manner in which we disclose certain categories of
                personal information (as defined in the Shine the Light law) with third
                parties for their direct marketing purposes. We currently do not
                disclose your personal information to third parties for their own direct
                marketing purposes.
              </p>
    </div>
  </div>
</main>
