---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="flex flex-col max-w-3xl min-h-screen px-8 mx-auto bg-white">
    <Navigation />
    <main class="flex-grow"><slot /></main>
    <Footer />
  </body>
</html>
