<section>
  <div
    class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32"
  >
    <div class="relative  bg-black p-8 lg:p-20">
      <h2
        class="mx-auto text-center text-3xl text-balance lg:text-8xl font-light font-display text-white "
      >
        Join us to get our news in your inbox.
      </h2>
      <form action="" class="mt-12">
        <div class="flex w-full flex-col gap-1 sm:flex-row max-w-md mx-auto">
          <input
            name="email"
            type="email"
            class="block w-full rounded-full border border-zinc-900 px-4 py-2 font-spline text-sm font-medium text-zinc-800 placeholder-zinc-400 focus:border-zinc-800 focus:outline-none focus:ring-2 h-10 lg:px-6 focus:ring-zinc-700/50 bg-zinc-800 disabled:opacity-50"
            placeholder="Enter your email..."
            required=""
          /><button
            type="button"
            class="items-center inline-flex border duration-300 focus:ring-2 h-10 focus:ring-offset-2 justify-center px-4 py-2 rounded-full text-sm bg-white border-transparent focus:ring-black hover:bg-white/10  hover:text-white   ring-1 ring-transparent text-black"
            ><div style="position:relative"></div>Subscribe<!-- -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              class="ml-2 h-auto w-4 "
              ><path
                fill-rule="evenodd"
                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                clip-rule="evenodd"></path></svg
            ></button
          >
        </div>
      </form>
    </div>
  </div>
</section>
