<section class="bg-base-50 p-8 rounded-xl lg:p-20">
  <h2
    id="newsletter-heading"
    class="text-2xl text-balance font-medium font-display text-base-900 text-center"
  >
    Join us to get our news in your inbox.
  </h2>

  <form
    action=""
    method="post"
    class="mt-8"
    aria-label="Newsletter signup form"
  >
    <div class="flex flex-col w-full max-w-md mx-auto gap-3 sm:flex-row">
      <label for="email" class="sr-only">Email address</label>
      <input
        id="email"
        name="email"
        type="email"
        class="block w-full h-10 px-4 py-2 text-sm font-medium rounded-full border-transparent font-spline text-base-900 placeholder-base-400 focus:border-base-800 focus:outline-none focus:ring-2 focus:ring-base-700/50 bg-white disabled:opacity-50"
        placeholder="Enter your email..."
        required
        aria-required="true"
      />

      <button
        type="submit"
        class="flex items-center justify-center h-10 px-4 py-2 text-sm text-white bg-base-900 rounded-full duration-300 focus:ring-2 focus:ring-offset-2 focus:ring-base-900 hover:bg-base-800"
      >
        Subscribe
      </button>
    </div>
  </form>
</section>
