<footer>
  <div class="py-12">
    <p
      class="text-xs text-base-500 text-balance text-center"
      x-data="{ year: new Date().getFullYear() }"
    >
      © <span x-text="year"></span> Lexington Themes. All rights reserved. <a
        class="text-base-900 underline hover:text-accent-400"
        href="https://lexingtonthemes.com/">Lexington Themes</a
      > is not affiliated with Astro or Tailwind Labs team, nor is it endorsed by
      or sponsored by these ones.
    </p>
  </div>
</footer>
