<footer>
  <div class="py-12">
    <p
      class="text-xs text-base-500 text-balance text-center"
      x-data="{ year: new Date().getFullYear() }"
    >
      © <span x-text="year"></span> Tone Transmissions. All rights reserved.
    </p>
  </div>
</footer>
