<footer class="bg-white border-t border-zinc-200">
  <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32">
    <section class="gap-y-6 gap-x-8">
      <div>
        <p
          class="text-sm text-zinc-600 lg:col-span-2"
          x-data="{ year: new Date().getFullYear() }"
        >
          © <span x-text="year"></span> Lexington Themes. All rights reserved. <a
            class="text-sm text-black hover:text-accent-400 underline"
            href="https://lexingtonthemes.com/">Lexington Themes</a
          > is not affiliated with Astro or Tailwind Labs team, nor is it endorsed
          by or sponsored by these ones. A free template by <a
            class="text-sm text-black hover:text-accent-400 underline"
            href="https://michaelandreuzza.com/">Michael Andreuzza</a
          >. This website was built with Astro &amp; Tailwind. Crafted in Åland
          Islands, Finland.
        </p>
      </div>
    </section>
  </div>
</footer>
