<div
  class=" "

>
  <div class=" px-8 md:px-12 mx-auto max-w-7xl py-2  lg:px-32 text-xs">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full  mx-auto   rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row "
    >
      <div
        class="flex flex-row items-center justify-between md:justify-start"
      >
        <a
          class="text-black hover:text-zinc-500 items-center font-normal uppercase gap-3 inline-flex "
          href="/"
        >

         microblog
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-black hover:text-blue-500 focus:outline-none focus:text-black md:hidden"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col flex-grow hidden py-12 md:py-0 md:flex md:items-end justify-center md:flex-row"
      >
        <ul
          class="space-y-2 list-none md:space-y-0 md:ml-auto items-center md:inline-flex justify-center text-center md:text-left gap-3"
        >

          <li>
            <a
              href="https://lexingtonthemes.com/"
              class=" text-black hover:text-blue-500"
            >
              Other Themes
            </a>
          </li>
          <li>
            <a
              href="https://github.com/michael-andreuzza/microblog"
              class="py-1.5 px-4 border focus:ring-2 h-8  rounded-full border-transparent bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-black inline-flex items-center justify-center ring-1 ring-transparent lg:ml-auto"
            >
             GitHub
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
