<div
  x-data="{ open: false }"
  class="relative flex flex-col w-full mx-auto rounded-xl md:rounded-full md:items-center md:justify-between md:flex-row"
>
  <div class="flex flex-row items-center justify-between py-2 md:justify-start">
    <a class="text-base font-medium tracking-tight uppercase" href="/">
      microblog
    </a>
    <button
      @click="open = !open"
      class="inline-flex items-center justify-center p-2 text-base-900 hover:text-blue-500 focus:outline-none focus:text-base-900 md:hidden"
    >
      <svg
        class="w-6 h-6"
        stroke="currentColor"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          :class="{'hidden': open, 'inline-flex': !open }"
          class="inline-flex"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
        <path
          :class="{'hidden': !open, 'inline-flex': open }"
          class="hidden"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
  <nav
    :class="{'flex': open, 'hidden': !open}"
    class="flex-col justify-center flex-grow hidden py-12 md:py-0 md:flex md:items-end md:flex-row"
  >
    <div
      class="items-center justify-center list-none space-y-2 md:space-y-0 md:ml-auto md:inline-flex md:text-left gap-3"
    >
      <a
        href="https://lexingtonthemes.com/"
        class="text-base-900 hover:text-blue-500 text-sm"
      >
        More Astro Themes
      </a>

      <a
        href="https://github.com/michael-andreuzza/microblog"
        class="py-1.5 px-2.5 border focus:ring-2 h-7.5 text-sm rounded-full border-transparent bg-base-900 hover:bg-base-900/10 text-white duration-200 focus:ring-offset-2 focus:ring-white hover:text-base-900 inline-flex items-center justify-center ring-1 ring-transparent"
      >
        GitHub
      </a>
    </div>
  </nav>
</div>
